The Nobel Prize has been among the most prestigious international awards since 1901. Each year, awards are bestowed in chemistry, literature, physics, physiology or medicine, economics, and peace. In addition to the honor, prestige, and substantial prize money, the recipient also gets a gold medal with an image of Alfred Nobel (1833 - 1896), who established the prize.

![](Nobel_Prize.png)

The Nobel Foundation has made a dataset available of all prize winners from the outset of the awards from 1901 to 2023. The dataset used in this project is from the Nobel Prize API and is available in the `nobel.csv` file in the `data` folder.

In this project, you'll get a chance to explore and answer several questions related to this prizewinning data. And we encourage you then to explore further questions that you're interested in!

In [1]:
# Loading in required libraries
import pandas as pd
import seaborn as sns
import numpy as np

# Start coding here!

In [2]:

df= pd.read_csv('data/nobel.csv')
df.head()

,year,category,prize,motivation,prize_share,laureate_id,laureate_type,full_name,birth_date,birth_city,birth_country,sex,organization_name,organization_city,organization_country,death_date,death_city,death_country
0,1901,Chemistry,The Nobel Prize in Chemistry 1901,"""in recognition of the extraordinary services ...",1/1,160,Individual,Jacobus Henricus van 't Hoff,1852-08-30,Rotterdam,Netherlands,Male,Berlin University,Berlin,Germany,1911-03-01,Berlin,Germany
1,1901,Literature,The Nobel Prize in Literature 1901,"""in special recognition of his poetic composit...",1/1,569,Individual,Sully Prudhomme,1839-03-16,Paris,France,Male,NaN,NaN,NaN,1907-09-07,Châtenay,France
2,1901,Medicine,The Nobel Prize in Physiology or Medicine 1901,"""for his work on serum therapy, especially its...",1/1,293,Individual,Emil Adolf von Behring,1854-03-15,Hansdorf (Lawice),Prussia (Poland),Male,Marburg University,Marburg,Germany,1917-03-31,Marburg,Germany
3,1901,Peace,The Nobel Peace Prize 1901,NaN,1/2,462,Individual,Jean Henry Dunant,1828-05-08,Geneva,Switzerland,Male,NaN,NaN,NaN,1910-10-30,Heiden,Switzerland
4,1901,Peace,The Nobel Peace Prize 1901,NaN,1/2,463,Individual,Frédéric Passy,1822-05-20,Paris,France,Male,NaN,NaN,NaN,1912-06-12,Paris,France

What is the most commonly awarded gender and birth country?

In [3]:
df.columns

Index(['year', 'category', 'prize', 'motivation', 'prize_share', 'laureate_id',
       'laureate_type', 'full_name', 'birth_date', 'birth_city',
       'birth_country', 'sex', 'organization_name', 'organization_city',
       'organization_country', 'death_date', 'death_city', 'death_country'],
      dtype='object')

In [36]:
top_gender = df['sex'].value_counts().idxmax()
print(top_gender)

Male

In [37]:
top_country = df['birth_country'].value_counts().idxmax()
print(top_country)

United States of America

In [38]:

df['decade'] = (df['year'] // 10) * 10
df['us_born'] = df['birth_country'] == 'United States of America'

decade_group = df.groupby('decade')
us_ratio = (decade_group['us_born'].sum() / decade_group.size()).sort_values(ascending=False)
max_decade_usa = us_ratio.idxmax()
highest_ratio = us_ratio.max()

print(max_decade_usa)
print(highest_ratio)

2000
0.42276422764227645

¿Qué década y que categoria de premio nobel tuvo  la mayor combinacion de mujeres?

In [39]:
df['is_female'] = df['sex'] == 'Female'

grouped_proportions = df.groupby(['decade', 'category'])['is_female'].mean()

# Encuentra el índice (la combinación de década y categoría) con el valor más alto
max_combination = grouped_proportions.idxmax()

# Almacena el resultado en el diccionario
max_female_dict = {max_combination[0]: max_combination[1]}

print(max_female_dict)

{2020: 'Literature'}

In [40]:
first_woman = df[df['sex'] == 'Female'].sort_values('year').iloc[0]
first_woman_name = first_woman['full_name']
first_woman_category = first_woman['category']
print(first_woman_name)

Marie Curie, née Sklodowska

la primera mujer  fue Marie Curie, née Sklodowska

In [41]:
repeat_counts = df['full_name'].value_counts()
repeat_list = repeat_counts[repeat_counts > 1].index.tolist()

winners_with_multiple_awards = repeat_counts[repeat_counts > 1]
print("Lista de ganadores con más de un premio:")
print(winners_with_multiple_awards)
print("Ganadores y su número de premios:")
for winner, count in winners_with_multiple_awards.items():
  print(f"Nombre: {winner}, Premios: {count}")

Lista de ganadores con más de un premio:
Comité international de la Croix Rouge (International Committee of the Red Cross)    3
Linus Carl Pauling                                                                   2
John Bardeen                                                                         2
Frederick Sanger                                                                     2
Marie Curie, née Sklodowska                                                          2
Office of the United Nations High Commissioner for Refugees (UNHCR)                  2
Name: full_name, dtype: int64
Ganadores y su número de premios:
Nombre: Comité international de la Croix Rouge (International Committee of the Red Cross), Premios: 3
Nombre: Linus Carl Pauling, Premios: 2
Nombre: John Bardeen, Premios: 2
Nombre: Frederick Sanger, Premios: 2
Nombre: Marie Curie, née Sklodowska, Premios: 2
Nombre: Office of the United Nations High Commissioner for Refugees (UNHCR), Premios: 2